smartgreenhouse.json
[{"id":"e845a177.c4498","type":"tab","label":"smart greenhouse","disabled":false,"info":""},{"id":"198b3edf.46f6c1","type":"mqtt in","z":"e845a177.c4498","name":"","topic":"Garden/Humidity","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":120,"y":180,"wires":[["ca2b19df.812988","77600630.545c98","222d2a6e.508256","ac099076.082b4","dea38276.6d9dd","d63432af.3a7b3"]]},{"id":"ca2b19df.812988","type":"ui_gauge","z":"e845a177.c4498","name":"Show Humidity","group":"eb9062eb.98064","order":1,"width":0,"height":0,"gtype":"gage","title":"Air humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"e40f3e6f.7ad1d","type":"ui_gauge","z":"e845a177.c4498","name":"Show temperature","group":"eb9062eb.98064","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#e1e528","#49b71d","#d5cf39"],"seg1":"18","seg2":"28","x":470,"y":120,"wires":[]},{"id":"8ba02b4b.7c9778","type":"mqtt in","z":"e845a177.c4498","name":"Garden/Temperature","topic":"Garden/Temperature","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":130,"y":100,"wires":[["e40f3e6f.7ad1d","77600630.545c98","b94095dc.c4ab18","fdc30b0b.955158","56d09abd.378b94"]]},{"id":"a5a8f02c.8ccb4","type":"mqtt in","z":"e845a177.c4498","name":"Garden/Lum","topic":"Garden/Lum","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":110,"y":260,"wires":[["77600630.545c98","81b63e9f.abde6","d4032d62.d254d","201e4d8b.3ab6d2"]]},{"id":"77600630.545c98","type":"ui_chart","z":"e845a177.c4498","name":"","group":"26193b8d.36b7f4","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":40,"wires":[[]]},{"id":"b94095dc.c4ab18","type":"ui_chart","z":"e845a177.c4498","name":"","group":"8fa9394e.2d0ae8","order":0,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":80,"wires":[[]]},{"id":"81b63e9f.abde6","type":"ui_chart","z":"e845a177.c4498","name":"","group":"ba741e2.0376be","order":0,"width":0,"height":0,"label":"Light intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":380,"wires":[[]]},{"id":"222d2a6e.508256","type":"ui_chart","z":"e845a177.c4498","name":"","group":"8fa9394e.2d0ae8","order":1,"width":"6","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":240,"wires":[[]]},{"id":"d4032d62.d254d","type":"debug","z":"e845a177.c4498","name":"light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":460,"wires":[]},{"id":"ac099076.082b4","type":"debug","z":"e845a177.c4498","name":"humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":320,"wires":[]},{"id":"fdc30b0b.955158","type":"debug","z":"e845a177.c4498","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":160,"wires":[]},{"id":"119b05b9.a3984a","type":"mqtt out","z":"e845a177.c4498","name":"Send light command","topic":"Garden/Lights","qos":"2","retain":"true","broker":"9e9c3fff.ad8f7","x":980,"y":200,"wires":[]},{"id":"d8094074.778d1","type":"mqtt out","z":"e845a177.c4498","name":"Send fan command","topic":"Garden/temp","qos":"2","retain":"true","broker":"9e9c3fff.ad8f7","x":990,"y":420,"wires":[]},{"id":"201e4d8b.3ab6d2","type":"ui_gauge","z":"e845a177.c4498","name":"Show Light","group":"eb9062eb.98064","order":1,"width":0,"height":0,"gtype":"gage","title":"Show Light","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":420,"wires":[]},{"id":"e4eb7ef9.762cd","type":"ui_switch","z":"e845a177.c4498","name":"fan switch","label":"fan switch","tooltip":"","group":"9d8aab9c.be9e68","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"Garden/temp","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":340,"wires":[["d8094074.778d1","846246a9.63dc08"]]},{"id":"c00e6db5.eb83","type":"inject","z":"e845a177.c4498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":280,"wires":[["e4eb7ef9.762cd"]]},{"id":"9c8b7c93.9ffd7","type":"inject","z":"e845a177.c4498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":60,"wires":[["c72924f4.793f38"]]},{"id":"c72924f4.793f38","type":"ui_switch","z":"e845a177.c4498","name":"light switch","label":"Light switch","tooltip":"","group":"9d8aab9c.be9e68","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Garden/Lights","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":180,"wires":[["119b05b9.a3984a","2be1d962.836346"]]},{"id":"776cbf2c.d4199","type":"e-mail","z":"e845a177.c4498","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"asn_real@yahoo.com","dname":"","x":820,"y":520,"wires":[]},{"id":"af077201.f7f82","type":"e-mail","z":"e845a177.c4498","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"asn_real@yahoo.com","dname":"","x":820,"y":620,"wires":[]},{"id":"876d06e.88ab3f8","type":"template","z":"e845a177.c4498","name":"sending light system status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"light system is just manually turned on","output":"str","x":520,"y":520,"wires":[["776cbf2c.d4199"]]},{"id":"32c6308d.605ed","type":"template","z":"e845a177.c4498","name":"sending fan system status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"fan system is just manually turned on","output":"str","x":510,"y":620,"wires":[["af077201.f7f82"]]},{"id":"ce36689e.ca4858","type":"ui_toast","z":"e845a177.c4498","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"light system is just manually turned on","name":"light system notification","x":450,"y":560,"wires":[]},{"id":"691fdf04.2c75a","type":"ui_toast","z":"e845a177.c4498","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"fan system is just manually turned on","name":"fan system notification","x":460,"y":680,"wires":[]},{"id":"2be1d962.836346","type":"link out","z":"e845a177.c4498","name":"","links":["3b31b72a.29cc48"],"x":955,"y":120,"wires":[]},{"id":"846246a9.63dc08","type":"link out","z":"e845a177.c4498","name":"","links":["1be7714a.4dd75f"],"x":955,"y":320,"wires":[]},{"id":"3b31b72a.29cc48","type":"link in","z":"e845a177.c4498","name":"","links":["2be1d962.836346"],"x":100,"y":540,"wires":[["ce36689e.ca4858","876d06e.88ab3f8"]]},{"id":"1be7714a.4dd75f","type":"link in","z":"e845a177.c4498","name":"","links":["846246a9.63dc08"],"x":95,"y":600,"wires":[["691fdf04.2c75a","32c6308d.605ed"]]},{"id":"ae248454.afb578","type":"mqtt in","z":"e845a177.c4498","name":"","topic":"lightsystem(ON)","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":120,"y":740,"wires":[["f3eac77f.c70f58"]]},{"id":"f3eac77f.c70f58","type":"ui_toast","z":"e845a177.c4498","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"system light automatically turned on","name":"turning light on manually","x":470,"y":740,"wires":[]},{"id":"62a38064.b0c7c","type":"mqtt in","z":"e845a177.c4498","name":"","topic":"lightsystem(OFF)","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":120,"y":800,"wires":[["d7a18a00.8f4d08"]]},{"id":"a5c7f1f8.35b1b","type":"mqtt in","z":"e845a177.c4498","name":"","topic":"fansystem(ON)","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":120,"y":860,"wires":[["1284902d.1216d"]]},{"id":"7255676a.f09558","type":"mqtt in","z":"e845a177.c4498","name":"","topic":"fansystem(OFF)","qos":"2","datatype":"auto","broker":"9e9c3fff.ad8f7","x":120,"y":920,"wires":[["c78acda7.97e52"]]},{"id":"d7a18a00.8f4d08","type":"ui_toast","z":"e845a177.c4498","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"system light automatically turned off","name":"turning light off manually","x":470,"y":800,"wires":[]},{"id":"1284902d.1216d","type":"ui_toast","z":"e845a177.c4498","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"fan system automatically turned on","name":"turning fan on manually","x":470,"y":860,"wires":[]},{"id":"c78acda7.97e52","type":"ui_toast","z":"e845a177.c4498","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"fan system automatically turned off","name":"turning fan off manually","x":470,"y":920,"wires":[]},{"id":"d63432af.3a7b3","type":"link out","z":"e845a177.c4498","name":"5","links":["cce6049d.1fab58"],"x":195,"y":420,"wires":[]},{"id":"dea38276.6d9dd","type":"link out","z":"e845a177.c4498","name":"4","links":["bd447fd6.f909c"],"x":195,"y":380,"wires":[]},{"id":"56d09abd.378b94","type":"link out","z":"e845a177.c4498","name":"3","links":["3fd4729e.81025e"],"x":195,"y":320,"wires":[]},{"id":"3fd4729e.81025e","type":"link in","z":"e845a177.c4498","name":"","links":["56d09abd.378b94"],"x":635,"y":740,"wires":[["96a52d88.46a34"]]},{"id":"bd447fd6.f909c","type":"link in","z":"e845a177.c4498","name":"","links":["dea38276.6d9dd"],"x":635,"y":800,"wires":[["a3c31d4c.01652"]]},{"id":"cce6049d.1fab58","type":"link in","z":"e845a177.c4498","name":"","links":["d63432af.3a7b3"],"x":635,"y":880,"wires":[["a8a83bf3.4d3ef8"]]},{"id":"a9ab737a.3b242","type":"debug","z":"e845a177.c4498","name":"data base","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1680,"y":800,"wires":[]},{"id":"9b47a99d.9f5718","type":"sqlite","z":"e845a177.c4498","mydb":"861d5f03.e409b","sqlquery":"msg.topic","sql":"","name":"garden","x":1460,"y":800,"wires":[["a9ab737a.3b242"]]},{"id":"3f971e93.1e1d62","type":"change","z":"e845a177.c4498","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":720,"wires":[["9b47a99d.9f5718"]]},{"id":"8f98916f.d4fec","type":"delay","z":"e845a177.c4498","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":720,"wires":[["641610b1.1071f"]]},{"id":"587cad8b.6c3d04","type":"inject","z":"e845a177.c4498","name":"","topic":"CREATE TABLE smart_garden (temp INTEGER  ,humidity INTEGER ,light INTEGER ,time  TEXT ,hour   INTEGER ,min  INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":960,"wires":[["8d13e7e1.e2b1c8"]]},{"id":"8d13e7e1.e2b1c8","type":"sqlite","z":"e845a177.c4498","mydb":"861d5f03.e409b","sqlquery":"msg.topic","sql":"","name":"garden","x":980,"y":960,"wires":[["39125dd9.c1e7e2"]]},{"id":"39125dd9.c1e7e2","type":"debug","z":"e845a177.c4498","name":"creating database","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1370,"y":960,"wires":[]},{"id":"641610b1.1071f","type":"template","z":"e845a177.c4498","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO smart_garden (time,hour,min,temp) VALUES  (  {{mytime}},{{myhour}},{{myminute}}, {{payload}}  )","output":"str","x":1120,"y":720,"wires":[["3f971e93.1e1d62"]]},{"id":"24e58c45.c9cb54","type":"template","z":"e845a177.c4498","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO smart_garden (humidity) VALUES  ( {{payload}}  )","output":"str","x":1040,"y":800,"wires":[["eda7ad37.3fa54"]]},{"id":"dd867325.a1763","type":"template","z":"e845a177.c4498","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO smart_garden (light) VALUES  ({{payload}}  )","output":"str","x":1040,"y":880,"wires":[["f262b03d.54b3d"]]},{"id":"eda7ad37.3fa54","type":"change","z":"e845a177.c4498","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":800,"wires":[["9b47a99d.9f5718"]]},{"id":"f262b03d.54b3d","type":"change","z":"e845a177.c4498","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":880,"wires":[["9b47a99d.9f5718"]]},{"id":"a3c31d4c.01652","type":"delay","z":"e845a177.c4498","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":800,"wires":[["24e58c45.c9cb54"]]},{"id":"a8a83bf3.4d3ef8","type":"delay","z":"e845a177.c4498","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":880,"wires":[["dd867325.a1763"]]},{"id":"96a52d88.46a34","type":"simpletime","z":"e845a177.c4498","name":"","x":770,"y":720,"wires":[["8f98916f.d4fec"]]},{"id":"9e9c3fff.ad8f7","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.106","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb9062eb.98064","type":"ui_group","z":"","name":"Sensors","tab":"4abedb1b.1c9854","order":1,"disp":true,"width":"8"},{"id":"26193b8d.36b7f4","type":"ui_group","z":"","name":"Display","tab":"4abedb1b.1c9854","order":4,"disp":true,"width":"16"},{"id":"8fa9394e.2d0ae8","type":"ui_group","z":"","name":"Digital sensors","tab":"4abedb1b.1c9854","order":3,"disp":true,"width":"13","collapse":false},{"id":"ba741e2.0376be","type":"ui_group","z":"","name":"Analog Sensors","tab":"4abedb1b.1c9854","order":2,"disp":true,"width":"8"},{"id":"9d8aab9c.be9e68","type":"ui_group","z":"","name":"actuators(manual control)","tab":"4abedb1b.1c9854","order":5,"disp":true,"width":"8","collapse":false},{"id":"861d5f03.e409b","type":"sqlitedb","z":"","db":"c:\\smart_garden","mode":"RWC"},{"id":"4abedb1b.1c9854","type":"ui_tab","z":"","name":"Garden","icon":"dashboard","order":1}]